<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" icon="fa-plus" (click)="onCreate($event)"></button>
    <button pButton type="button" icon="fa-copy" (click)="onDuplicate($event)"></button>
    <button pButton type="button" icon="fa-trash" (click)="onDelete($event)"></button>
    <i class="fa fa-bars"></i>
    <button pButton type="button" icon="fa-save" (click)="onSave()"></button>
    <button pButton type="button" icon="fa-chevron-left" (click)="onPrev()"></button>
    <button pButton type="button" icon="fa-chevron-right" (click)="onNext()"></button>
    <i class="fa fa-bars"></i>
    <p-dropdown [options]="types" [(ngModel)]="slide.type"></p-dropdown>
  </div>
</p-toolbar>
<div *ngIf="slide" class="ui-g ui-fluid">
  <div class="ui-g-12 ui-sm-12">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <i class="fa fa-tag"></i>
      </span>
      <input type="text" [(ngModel)]="slide.id" pInputText placeholder="Id." disabled>
    </div>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <i class="fa fa-time"></i>
      </span>
      <input type="text" [(ngModel)]="slide.timestamp" pInputText placeholder="Dernière mise à jour" disabled>
    </div>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <i class="fa fa-sort"></i>
      </span>
      <input type="text" [(ngModel)]="slide.order" pInputText placeholder="0">
    </div>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon">
        <i class="fa fa-file-powerpoint-o"></i>
      </span>
      <input type="text" [(ngModel)]="slide.name" pInputText placeholder="Title">
    </div>

    <span [hidden]="!(slide.type === '' || slide.type === 'html')">
      <p-tabView>
        <p-tabPanel header="Editor">
          <p-editor [(ngModel)]="htmlArea" toolbar="true" [style]="{'height':'100%', 'width':'100%'}">
          </p-editor>
        </p-tabPanel>
        <p-tabPanel header="Preview">
          <div #htmlrenderer></div>
        </p-tabPanel>
        <p-tabPanel header="Html">
          <pre><code [innerHtml]="prettyhtml(htmlArea)"></code></pre>
        </p-tabPanel>
      </p-tabView>
    </span>

    <div [hidden]="!(slide.type === 'svg')" class="ui-g ui-fluid">
      <p-tabView>
        <p-tabPanel header="Editor">
          <textarea [rows]="24" [cols]="100" pInputTextarea autoResize="autoResize" [(ngModel)]="svgArea"></textarea>
        </p-tabPanel>
        <p-tabPanel header="Preview">
          <div #svgrenderer></div>
        </p-tabPanel>
        <p-tabPanel header="Svg">
          <pre><code [innerHtml]="prettySvg(svgArea)"></code></pre>
        </p-tabPanel>
      </p-tabView>
    </div>

  </div>
</div>