<p-sidebar [(visible)]="left" [fullScreen]="false" [style]="{width:'50%'}">
    <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
</p-sidebar>
<p-sidebar [(visible)]="right" [fullScreen]="false" [style]="{width:'50%'}">
    <p-tabView>
        <p-tabPanel header="Folders">
            <div *ngIf="folders">
                <p-dataTable [value]="folders" (onRowClick)="onFolderChangeHandler($event)" selectionMode="single" filter="true" filterPlaceholder="Rechercher"
                    header="Folder" sortField="order" sortable="true" [rows]="10" [paginator]="true">
                    <p-column field="id" header="Id."></p-column>
                    <p-column field="name" header="Nom"></p-column>
                </p-dataTable>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Slides">
            <div *ngIf="slides">
                <p-dataTable [value]="slides" (onRowClick)="onSlideChangeHandler($event)" selectionMode="single" filter="true" filterPlaceholder="Rechercher"
                    header="Slide" sortField="order" sortable="true" [rows]="10" [paginator]="true">
                    <p-column field="id" header="Id."></p-column>
                    <p-column field="name" header="Nom"></p-column>
                </p-dataTable>
            </div>
        </p-tabPanel>
    </p-tabView>
</p-sidebar>
<p-tabMenu [model]="tools"></p-tabMenu>
<p></p>
<router-outlet></router-outlet>