<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="org.slides.core.log4j2">
	<Properties>
		<Property name="slides.log.dir">c:/tmp</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${sys:slides.log.dir}/slides.log"
			filePattern="${sys:slides.log.dir}/slides-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="RollingSessionFile"
			fileName="${sys:slides.log.dir}/slides-sessions.log"
			filePattern="${sys:slides.log.dir}/slides-sessions-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %logger{36} - %msg%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="RollingAccessFile"
			fileName="${sys:slides.log.dir}/slides-access.log" filePattern="${sys:slides.log.dir}/slides-access-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="%d{DEFAULT} %msg%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<RollingFile name="RollingBpmFile" fileName="${sys:slides.log.dir}/slides-bpm.log"
			filePattern="${sys:slides.log.dir}/slides-bpm-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout pattern="%d{DEFAULT} %msg%n" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} [%t] %-5level %l - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="warn" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="io.moquette" level="warn" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="org.reflections.Reflections" level="warn"
			additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="org.ehcache" level="warn" additivity="false">
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger name="org.slides.core.security" level="info"
			additivity="false">
			<AppenderRef ref="RollingSessionFile" />
		</Logger>
		<Logger name="org.slides.core.access" level="info" additivity="false">
			<AppenderRef ref="RollingAccessFile" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="RollingFile" level="warn" />
		</Root>
	</Loggers>
</Configuration>